# Replace 'login' with your actual 42 login username
DOMAIN_NAME=login.42.fr
# MariaDB
MYSQL_ROOT_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
MYSQL_DATABASE=wordpress
MYSQL_USER=login
MYSQL_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
# WordPress
WP_ADMIN=admin
WP_ADMIN_PASS=REPLACE_WITH_STRONG_PASSWORD
WP_ADMIN_EMAIL=admin@login.42.fr
WP_USER=user
WP_USER_EMAIL=user@login.42.fr
WP_USER_PASS=REPLACE_WITH_STRONG_PASSWORD
